
/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// Font-Face
@font-face {
  font-family: 'inconsolata-medium';
  src: url('../fonts/inconsolata-webfont.eot');
  src: url('../fonts/inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/inconsolata-webfont.woff') format('woff'),
      url('../fonts/inconsolata-webfont.ttf') format('truetype'),
      url('../fonts/inconsolata-webfont.svg#inconsolatamedium') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'brandon-grotesque-bold';
  src: url('../fonts/brandon_grotesque_bold.eot');
  src: url('../fonts/brandon_grotesque_bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/brandon_grotesque_bold.svg') format('svg'),
      url('../fonts/brandon_grotesque_bold.woff') format('woff'),
      url('../fonts/brandon_grotesque_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $red;
}

a {
  border-bottom: 2px solid $yellow;
  color: $black;
  font-weight: bold;
  outline: 0;
  padding-bottom: 4px;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: #000;
    color: #000;
  }
}

// Container
.container--main {
  padding: 4*$base-spacing 0;
}

.container__lead {
  font-size: 2.0rem;
  margin-bottom: 8*$base-spacing;
  text-align: center;

  @media (min-width: $md) {
    font-size: 2.4rem;
  }
}



section {
  margin-bottom: 8*$base-spacing;

  p {
    padding: 0 2*$base-spacing;
  }
}

ul {
  padding-left: 25px;
}
