
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.footer {
  background-color: $grey;
  color: $dark-grey;
  font-size: 14px;
  margin: 0;
  padding: 50px 0;
  text-align: center;

  a {
    border-bottom: 0;
    color: $dark-grey;
  }

  .heart {
    color: $red;
  }
}
