
/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-color: $red;
  overflow: hidden;
  padding-left: 6.5%;
  padding-right: 6.5%;

  &__body {
    @include transition(all 1.0s ease-in-out);
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 45%;
    position: relative;

    @media screen and (min-width: $xl) {
      padding-bottom: 512px;
    }
  }

  &__title {
    @include transition(all 1.0s ease-in-out);
    bottom: 35%;
    color: $white;
    display: block;
    font-family: $brandon-grotesque;
    font-size: 2em;
    height: 1em;
    left: 0;
    line-height: 1;
    margin: auto;
    position: absolute;
    text-align: left;
    width: auto;

    @media screen and (min-width: $md) {
      font-size: 4em;
    }
  }

  &__vector-field {
    height: 512px;
    left: -7.5%;
    position: absolute;
    top: 0;
  }
}
