
/* Section Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section-title {
  @include display(flex);
  @include align-items(center);
  background-color: $grey;
  margin-bottom: 2*$base-spacing;
  padding: $base-spacing 0;

  &__body {
    @include flex(1);
    font-size: 3.0rem;
    line-height: 1.25;
    margin: 0;
    padding-left: 2*$base-spacing;
  }

  &__aside {
    color: $red;
    cursor: pointer;
    font-family: $brandon-grotesque;
    font-size: 3.0rem;
    line-height: 1.25;
    opacity: 0.25;
    text-align: center;
    width: 50px;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
